body{
    background-image: url(group.jpg);
    height: 100vh;
    width: 100vw;

}
.navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    color: white;
    justify-content: space-around;
    background-color: white;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li {
    padding: 8px 15px;
    border-radius: 20px;
    
}
.navbar ul li a{
    text-decoration: none;   
    border-radius: 30px;
    font-size: 20px;
}
.navbar .heading{
    color: black;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
}
input{
    border-radius: 30px;
    height: 20px;
    align-content: center;
    margin-top: 10px;
}
i{
    color: red;
    padding: 10px;
    font-size: 30px;
}
h1{
    color: white;
    text-align: center;
    justify-content: center;
    margin-top: 50vh;
}
p{
    color: white;
    text-align: center;
    justify-content: center;
    margin-top:;
}
